<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeepLAuthKey</key>
	<string>YOUR_DEEPL_AUTH_KEY</string>
	<key>ClientKey</key>
	<string>YOUR_CLIENT_KEY</string>
	<key>ApplicationKey</key>
	<string>YOUR_APPLICATION_KEY</string>
</dict>
</plist>
